body, h1, h2, p, ul, li, button, input, audio 
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body 
{
    font-family: 'Cascadia Mono', monospace;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header 
{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section 
{
    padding: 20px;
    margin: 20px;
    opacity: 1.0;
    background: #808080;
    border-radius: 10px;
}

button
{
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover
{
    background-color: #808080;
}

footer 
{
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}


